<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/user/{id}/acceptChangingPassword (id=${id})}" th:object="${checkPassword}">
        <label for="password">Enter old password: </label>
        <input type="password" th:field="*{oldPassword}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">password error</div>
        <br/>
        <label for="passwordFirst">Enter new password: </label>
        <input type="password" th:field="*{newPassword}"  id="passwordFirst"/>
        <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">passwordFirst error</div>
        <br/>
        <label for="passwordSecond">Confirm new password: </label>
        <input type="password" th:field="*{confirmNewPassword}"  id="passwordSecond"/>
        <div style="color:red" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">passwordSecond error</div>
        <br/>
        <input type="submit" value="Edit"/>
    </form>


        </body>
        </html>